.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__time-scale {
    height: 100%;
    width: 48px;
  }
}

.time-slot {
  height: 60px;
  width: 48px;
  text-align: right;
  &:nth-child(1) {
    margin-top: -4px;
  }
  &:nth-child(2) {
    margin-top: -6px;
  }
  &:nth-child(3) {
    margin-top: -2px;
  }
  &:nth-child(4) {
    margin-top: 0;
  }
  &:nth-child(5) {
    margin-top: -4px;
  }
  &:nth-child(11) {
    margin-top: -4px;
  }
  &:nth-child(15) {
    margin-top: -3px;
  }
  &:nth-child(20) {
    margin-top: -3px;
  }

  &__time {
    font-size: 12px;
    opacity: 0.7;
    top: -12px;
    margin-right: 4px;
  }
}
